<div class="container">
  <h1>回答投稿</h1>
  <%= form_with model: [@question, @solution], local: true do |f| %>
    <div class="form-group">
      <%= f.label :content, "【回答】", class: 'control-label' %>
      <%= f.text_area :content,
                      class: "form-control initial-height
                            #{'is-invalid' if @solution.errors.full_messages_for(:content).any?}",
                      rows: 5 %>
    </div>
    <div class="form-group">
      <%= f.submit "送信", class: "btn btn-primary btn-block btn-lg", data: {confirm: "投稿しますか？"} %>
    </div>
  <% end %>
</div>