<% content_for(:title) { "よくある質問集" } %>
<% content_for(:description) { "やんばるエキスパートの質問集です。" } %>
<section id="contents">
  <h1 class="text-center mb-4">よくある質問集</h1>
  <%= render "search_form" if user_signed_in? %>
  <div class="table-container mt-4">
    <table class="table table-striped">
      <thead class="text-white base-bg-color">
      <tr>
        <th class="text-nowrap">ジャンル</th>
        <th class="w-100">タイトル</th>
      </tr>
      </thead>
      <tbody id="search-tbody">
        <%= render @questions %>
      </tbody>
    </table>
  </div>
</section>
<%= render 'shared/banner' %>
