<% content_for(:title) { "質問集" } %>
<% content_for(:description) { "やんばるエキスパートの質問集です。" } %>
<section id="contents">
  <h1 class="text-center mb-4">質問集</h1>
  <%= render "search_form" if user_signed_in? %>
  <div class="table-container mt-4">
    <table class="table table-striped">
      <thead class="text-white base-bg-color">
      <tr>
        <th class="text-nowrap">ジャンル</th>
        <th class="w-100">タイトル</th>
      </tr>
      </thead>
      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td class="text-nowrap align-middle">
            <%= question.genre %>
          </td>
          <td class="break-word">
            <%= link_to question.title, question %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
<%= render 'shared/banner' %>
