<section id="contents">
  <h1 class="text-center base-color mb-4">質問集</h1>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="text-white base-bg-color">
      <tr>
        <th class="w-1 align-middle">ジャンル</th>
        <th class="w-5 align-middle">タイトル</th>
      </tr>
      </thead>
      <tbody>
      <% @questions.each do |question| %>
        <tr>
          <td class="align-middle">
            <%= question.genre %>
          </td>
          <td>
            <%= link_to question.title, question, target: "_blank" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
