<section id="question">
  <div class="catch">タイトル</div>
  <%= @question.title %>
  <div class="catch">質問内容</div>
  <div class="markdown">
    <%= markdown(@question.body) %>
  </div>
  <div class="catch">回答</div>
  <div class="markdown">
    <%= markdown(@question.solution) %>
  </div>
</section>
