<section id="writings">
  <div class="container">
    <div class="rows">
      <div class="text-center">
        <% @writing_movies.each do |writing_movie| %>
          <div class="col-xs-12">
            <div class="movie-title">
              <%= writing_movie.title %>
            </div>
            <div class="movie-contents">
              <%= writing_movie.contents.html_safe %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>
