<div class="faq-item">
  <dt class="faq-question">
    <p class="faq-item-title">Q</p>
    <p class="faq-question-text"><%= faq.question %></p>
  </dt>
  <dd class="faq-answer">
    <div class="faq-answer-inner">
      <p class="faq-item-title">A</p>
      <p class="faq-answer-text"><%= faq.answer %></p>
    </div>
  </dd>
</div>
