<li class="faq-item">
  <div class="faq-question">
    <p class="faq-item-title">Q</p>
    <p class="faq-question-text"><%= faq.question %></p>
  </div>
  <div class="faq-answer">
    <div class="faq-answer-inner">
      <p class="faq-item-title">A</p>
      <p class="faq-answer-text"><%= faq.answer %></p>
    </div>
  </div>
</li>
