<footer class="static-footer static-bg-color">
  <div class="footer-contents">
    <ul class="footer-list">
      <li><a href="#">株式会社やんばるスパイクについて</a></li>
    </ul>
    <ul class="footer-list">
      <li><a href="#">利用規約</a></li>
      <li><a href="#">プライバシーポリシー</a></li>
      <li><a href="#">特定商取引法に基づく表記</a></li>
      <li><a href="#">お問い合わせ</a></li>
    </ul>
    <ul class="footer-list">
      <li>フォローお気軽に！</li>
      <li><a href="https://line.me/R/ti/p/%40fyp8311b" target="_blank">LINE</a></li>
      <li><a href="https://twitter.com/yoshito410kam" target="_blank">Twitter</a></li>
      <li><a href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag" target="_blank">YouTube</a></li>
      <li><a href="https://ja-jp.facebook.com/yoshito.kamizato" target="_blank">Facebook</a></li>
    </ul>
  </div>
</footer>
