<div id="home-container">
  <section id="heading">
    <div class="heading-inner">
      <div class="heading-lead">
        <h2>進化し続ける教材</h2>
        <p>コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn #fff' %>
      </div>
      <div class="heading-list">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
      <div class="heading-icon">
        <img src="/assets/kamizatosan_chara_01.png" class="owner_icon">
      </div>
    </div>
  </section>

  <section id="about">
    <h2 class="util-title">
      <span class="util-title-inner">やんばるCODE教材とは？</span>
    </h2>
    <ul class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">コスパ最強</h3>
        <p class="about-item-text">Ruby/PHP/JS/AWSなど幅広い分野の教材を月額2980円から観覧可能なコスパ最強の学習教材です</p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">進化</h3>
        <p class="about-item-text">教材は常に追加するため時間が経つにつれどんどんコンテンツが増えていきます</p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">即改善</h3>
        <p class="about-item-text">受講生の意見を吸い上げ改善点や追加要望があれば即座にエンジニアが対応いたします</p>
      </li>
    </ul>
  </section>

  <section id="teachinglist">
    <h2 class="util-title">
      <span class="util-title-inner">教材一覧</span>
    </h2>
    <div class="teachinglist-content">
      <ul class="teachinglist-list">
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">Ruby/Rails</h3>
          <p class="teaching-item-text">ベンチャーで多く採用されている技術</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">PHP/Laravel</h3>
          <p class="teaching-item-text">ベンチャーで多く採用されている技術</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">AWS</h3>
          <p class="teaching-item-text">インフラ構築で多く採用されている技術</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">HTML/CSS</h3>
          <p class="teaching-item-text">Webエンジニアなら学習必須の言語</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">JavaScript</h3>
          <p class="teaching-item-text">Webエンジニアなら学習必須の言語</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">Vue/Angular</h3>
          <p class="teaching-item-text">フロントエンドフレームワーク</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="features">
  </section>

  <section id="services">
  </section>

  <section id="developer">
  </section>

  <section id="administor">
  </section>

  <section id="faq">
  </section>
</div>
