<div id="home_container">
  <section id="heading">
    <div class="heading-inner">
      <div class="heading-lead"></div>
      <div class="heading-list"></div>
      <div class="heading-icon"></div>
    </div>
  </section>

  <section id="about">
    <div class="about-inner">
    </div>
  </section>

  <section id="teaching-list">
  </section>

  <section id="features">
  </section>

  <section id="services">
  </section>

  <section id="developer">
  </section>

  <section id="administor">
  </section>

  <section id="faq">
  </section>
</div>
