<div id="home-container">
  <section id="heading" class="contents">
    <div class="heading-inner">
      <div class="heading-lead">
        <h2>進化し続ける教材</h2>
        <p>コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn #fff' %>
      </div>
      <div class="heading-list">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
      <div class="heading-icon">
        <img src="/assets/kamizatosan_chara_01.png" class="owner_icon">
      </div>
    </div>
  </section>

  <section id="about" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">やんばるCODE教材とは？</span>
    </h2>
    <ul class="about-list">
      <li class="about-item">
        <h3 class="about-item-title">コスパ最強</h3>
        <p class="about-item-text">Ruby/PHP/JS/AWSなど幅広い分野の教材を月額2980円から観覧可能なコスパ最強の学習教材です</p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">進化</h3>
        <p class="about-item-text">教材は常に追加するため時間が経つにつれどんどんコンテンツが増えていきます</p>
      </li>
      <li class="about-item">
        <h3 class="about-item-title">即改善</h3>
        <p class="about-item-text">受講生の意見を吸い上げ改善点や追加要望があれば即座にエンジニアが対応いたします</p>
      </li>
    </ul>
  </section>

  <section id="teachinglist" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">教材一覧</span>
    </h2>
    <div class="teachinglist-content">
      <ul class="teachinglist-list">
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">Ruby/Rails</h3>
          <p class="teaching-item-text">ベンチャーで多く採用されている技術</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">PHP/Laravel</h3>
          <p class="teaching-item-text">ベンチャーで多く採用されている技術</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">AWS</h3>
          <p class="teaching-item-text">インフラ構築で多く採用されている技術</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">HTML/CSS</h3>
          <p class="teaching-item-text">Webエンジニアなら学習必須の言語</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">JavaScript</h3>
          <p class="teaching-item-text">Webエンジニアなら学習必須の言語</p>
        </li>
        <li class="teachinglist-item">
          <h3 class="teaching-item-title">Vue/Angular</h3>
          <p class="teaching-item-text">フロントエンドフレームワーク</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="features" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">教材の特徴</span>
    </h2>
    <div class="features-content">
      <ul class="features-list">
        <li class="features-item">
          <h3 class="features-item-title">読みやすい</h3>
          <p class="features-item-text">お洒落で可愛くデザイン<br>飽きない工夫をしています</p>
        </li>
        <li class="features-item">
          <h3 class="features-item-title">即改善</h3>
          <p class="features-item-text">教材はすぐに編集が可能な為<br>要望があればすぐ改善します</p>
        </li>
        <li class="features-item">
          <h3 class="features-item-title">作りながら学ぶ</h3>
          <p class="features-item-text">基礎が延々と続くような<br>眠くなる教材ではありません</p>
        </li>
        <li class="features-item">
          <h3 class="features-item-title">進捗管理</h3>
          <p class="features-item-text">ご自身の進み具合をグラフ<br>で確認することができます</p>
        </li>
        <li class="features-item">
          <h3 class="features-item-title">ビジネスも学べる</h3>
          <p class="features-item-text">プログラミングだけでなく<br>マーケティングも学べます</p>
        </li>
        <li class="features-item">
          <h3 class="features-item-title">動画とテキスト</h3>
          <p class="features-item-text">教材にはテキストだけで無く<br>動画で学べるものもあります</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="services" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">関連サービス</span>
    </h2>
    <div class="util-intro">
      <p class="util-text">こちらの教材は以下の講座で利用されています</p>
    </div>
    <div class="services-content">
      <ul class="services-list">
        <li class="services-item">
          <h3 class="services-item-title">やんばるCODE</h3>
          <p class="services-item-text">オンラインとオフラインのスクールがあります</p>
        </li>
        <li class="services-item">
          <h3 class="services-item-title">やんばるエキスパート</h3>
          <p class="services-item-text">サポートが意味不明に手厚いかなり頭おかしい講座です</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="developer" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">開発者</span>
    </h2>
    <div class="util-intro">
      <p class="util-text">こちらの教材は以下のエンジニアが開発/監修しています</p>
    </div>
    <div class="developer-content">
      <ul class="developer-list">
        <li class="developer-item">
          <h3 class="developer-item-title">たけさん</h3>
          <p class="developer-item-text">元数学大学教員のエンジニア</p>
        </li>
        <li class="developer-item">
          <h3 class="developer-item-title">kubotaさん</h3>
          <p class="developer-item-text">エンジニア歴15年</p>
        </li>
      </ul>
    </div>
  </section>

  <section id="administor" class="contents">
  </section>

  <section id="faq" class="contents">
  </section>
</div>
