<div id="home_container">
  <section id="heading">
    <div class="heading-inner">
      <div class="heading-lead">
        <h2>進化し続ける教材</h2>
        <p>コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn #fff' %>
      </div>
      <div class="heading-list">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
      <div class="heading-icon">
        <img src="/assets/kamizatosan_chara_01.png" class="owner_icon">
      </div>
    </div>
  </section>

  <section id="about">
    <div class="about-inner">
    </div>
  </section>

  <section id="teaching-list">
  </section>

  <section id="features">
  </section>

  <section id="services">
  </section>

  <section id="developer">
  </section>

  <section id="administor">
  </section>

  <section id="faq">
  </section>
</div>
