<div id="home-container">
  <section id="heading">
    <div class="heading-inner">
      <div class="heading-lead">
        <h2 class="heading-lead-title">進化し続ける教材</h2>
        <p class="heading-lead-text">コンテンツ随時追加</p>
        <%= link_to "教材一覧を見る", texts_path, class: 'btn-teaching' %>
      </div>
    </div>
    <div class="heading-icon">
      <%= image_tag "kamizatosan_chara_01.png", class: "owner_icon" %>
    </div>
    <div class="heading-about">
      <div class="heading-list">
        <ul>
          <li>Ruby/Rails</li>
          <li>PHP</li>
          <li>AWS</li>
          <li>HTML/CSS/JS/Vue/Angular</li>
        </ul>
      </div>
    </div>
  </section>

  <section id="about" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">やんばるCODE教材とは？</span>
    </h2>
    <div class="about-list">
      <div class="about-item">
        <h3 class="about-item-title">コスパ最強</h3>
        <p class="about-item-text">Ruby/PHP/JS/AWSなど幅広い分野の教材を月額2980円から観覧可能なコスパ最強の学習教材です</p>
      </div>
      <div class="about-item">
        <h3 class="about-item-title">進化</h3>
        <p class="about-item-text">教材は常に追加するため時間が経つにつれどんどんコンテンツが増えていきます</p>
      </div>
      <div class="about-item">
        <h3 class="about-item-title">即改善</h3>
        <p class="about-item-text">受講生の意見を吸い上げ改善点や追加要望があれば即座にエンジニアが対応いたします</p>
      </div>
    </div>
  </section>

  <section id="teachinglist" class="contents static-color static-bg-color">
    <h2 class="util-title">
      <span class="util-title-color">教材一覧</span>
    </h2>
    <div class="teachinglist-content">
      <div class="teachinglist-list">
        <div class="teachinglist-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">Ruby/Rails</span>
          </h3>
          <p class="teaching-item-text">ベンチャーで多く<br>採用されている技術</p>
        </div>
        <div class="teachinglist-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">PHP/Laravel</span>
          </h3>
          <p class="teaching-item-text">ベンチャーで多く<br>採用されている技術</p>
        </div>
        <div class="teachinglist-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">AWS</span>
          </h3>
          <p class="teaching-item-text">インフラ構築で多く<br>採用されている技術</p>
        </div>
        <div class="teachinglist-item">
          <h3 class="sub-title">
            <div class="sub-title-inner">HTML/CSS</div>
          </h3>
          <p class="teaching-item-text">Webエンジニアなら<br>学習必須の言語</p>
        </div>
        <div class="teachinglist-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">JavaScript</span>
          </h3>
          <p class="teaching-item-text">Webエンジニアなら<br>学習必須の言語</p>
        </div>
        <div class="teachinglist-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">Vue/Angular</span>
          </h3>
          <p class="teaching-item-text">フロントエンド<br>フレームワーク</p>
        </div>
      </div>
    </div>
  </section>

  <section id="features" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">教材の特徴</span>
    </h2>
    <div class="features-content">
      <div class="features-list">
        <div class="features-item">
          <h3 class="features-item-title">
            <span class="features-item-title-inner">読みやすい</span>
          </h3>
          <p class="features-item-text">お洒落で可愛くデザイン<br>飽きない工夫をしています</p>
        </div>
        <div class="features-item">
          <h3 class="features-item-title">
            <span class="features-item-title-inner">即改善</span>
          </h3>
          <p class="features-item-text">教材はすぐに編集が可能な為<br>要望があればすぐ改善します</p>
        </div>
        <div class="features-item">
          <h3 class="features-item-title">
            <span class="features-item-title-inner">作りながら学ぶ</span>
          </h3>
          <p class="features-item-text">基礎が延々と続くような<br>眠くなる教材ではありません</p>
        </div>
        <div class="features-item">
          <h3 class="features-item-title">
            <span class="features-item-title-inner">進捗管理</span>
          </h3>
          <p class="features-item-text">ご自身の進み具合をグラフで<br>確認することができます</p>
        </div>
        <div class="features-item">
          <h3 class="features-item-title">
            <span class="features-item-title-inner">ビジネスも学べる</span>
          </h3>
          <p class="features-item-text">プログラミングだけでなく<br>マーケティングも学べます</p>
        </div>
        <div class="features-item">
          <h3 class="features-item-title">
            <span class="features-item-title-inner">動画とテキスト</span>
          </h3>
          <p class="features-item-text">教材にはテキストだけで無く<br>動画で学べるものもあります</p>
        </div>
      </div>
    </div>
  </section>

  <section id="services" class="contents static-color static-bg-color">
    <h2 class="util-title">
      <span class="util-title-color">関連サービス</span>
    </h2>
    <div class="util-intro">
      <p class="util-text">こちらの教材は以下の講座で利用されています</p>
    </div>
    <div class="services-content">
      <div class="services-list">
        <div class="services-item">
          <a class="service-link" href="https://utina.yoshitokamizato.com/entry/2018/09/06/202647" target="_blank"></a>
          <h3 class="sub-title">
            <span class="sub-title-inner">やんばるCODE</span>
          </h3>
          <p class="service-item-text">オンラインとオフラインのスクールがあります</p>
        </div>
        <div class="services-item">
          <a class="service-link" href="https://yanbaru-expert.com/" target="_blank"></a>
          <h3 class="sub-title">
            <span class="sub-title-inner">やんばるエキスパート</span>
          </h3>
          <p class="service-item-text">サポートが意味不明に手厚いかなり頭おかしい講座です</p>
        </div>
      </div>
    </div>
  </section>

  <section id="developer" class="contents static-color static-bg-color">
    <h2 class="util-title">
      <span class="util-title-color">開発者</span>
    </h2>
    <div class="util-intro">
      <p class="util-text">こちらの教材は以下のエンジニアが開発/監修しています</p>
    </div>
    <div class="developer-content">
      <div class="developer-list">
        <div class="developer-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">たけさん</span>
          </h3>
          <p class="developer-item-text">元数学大学教員のエンジニア</p>
        </div>
        <div class="developer-item">
          <h3 class="sub-title">
            <span class="sub-title-inner">kubotaさん</span>
          </h3>
          <p class="developer-item-text">エンジニア歴15年</p>
        </div>
      </div>
    </div>
  </section>

  <section id="administor" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">運営者</span>
    </h2>
    <div class="administor-inner">
      <div class="administor-item">
        <%= image_tag "kamizatosan_chara_01.png", class: "administor-icon" %>
      </div>
      <div class="administor-info">
        <h3 class="administor-name">かみざとよしと</h3>
        <p class="administor-text">沖縄で開発会社/プログラミングスクール/カフェの経営をしてます</p>
        <div class="administor-sns">
          <div class="sns-item">
            <a class="sns-link" href="https://line.me/R/ti/p/%40fyp8311b" target="_blank"></a>
            <i class="fab fa-line fa-5x fa-fw" style="color: #00c300;"></i>
          </div>
          <div class="sns-item">
            <a class="sns-link" href="https://twitter.com/yoshito410kam" target="_blank"></a>
            <i class="fab fa-twitter-square fa-5x fa-fw" style="color: #55acee;"></i>
          </div>
          <div class="sns-item">
            <a class="sns-link" href="https://www.youtube.com/channel/UCwrDvYey9uKGBeh_l5IF-ag" target="_blank"></a>
            <i class="fab fa-youtube fa-5x fa-fw" style="color: #ff0000;"></i>
          </div>
          <div class="sns-item">
            <a class="sns-link" href="https://ja-jp.facebook.com/yoshito.kamizato" target="_blank"></a>
            <i class="fab fa-facebook fa-5x fa-fw" style="color: #315096;"></i>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="faq" class="contents">
    <h2 class="util-title">
      <span class="util-title-inner">よくある質問</span>
    </h2>
    <ul class="faq-list static-color">
      <%= render partial: "faq", collection: @faqs %>
    </ul>
  </section>
</div>
