<section id="text">
  <div class="text-center search-form">
    <h2 class="text-danger">Search Curriculum</h2>
    <input class="form-control" id="myInput" type="text" placeholder="検索..">
  </div>

  <h2 class="text-center text-danger">Text</h2>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="bg-danger text-white">
      <tr>
        <th class="w-1">スキル</th>
        <th class="w-2">ジャンル</th>
        <th class="w-5">内容</th>
      </tr>
      </thead>
      <tbody id="myTable">
      <% @contents[:text].each.with_index(1) do |text, i| %>
        <tr>
          <td>
            Lv.<%= i %>
          </td>
          <td>
            <%= text.genre %>
          </td>
          <td>
            <%= link_to text.title, text_path(text.id), target: "_blank" %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>

  <script>
    $(document).ready(function(){
      $("#myInput").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#myTable tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
  </script>

</section>
