<div class="modal fade" id="slack-id-modal" tabindex="-1" role="dialog" aria-labelledby="slack-id-desc" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="slack-id-desc">Slack IDの確認方法</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p style="color: red;">【注】PCで以下の操作を行って下さい</p>
        <p>①Slackアプリ画面右上のアイコンをクリック</p>
        <%= image_tag 'https://d5izmuz0mcjzz.cloudfront.net/texts/slack/desc_slack_id_1.png', class: "d-block mx-auto mb-5" %>
        <p>②プロフィールを表示</p>
        <%= image_tag 'https://d5izmuz0mcjzz.cloudfront.net/texts/slack/desc_slack_id_2.png', class: "d-block mx-auto mb-5" %>
        <p>③その他をクリック。表示されたメンバーIDをコピー</p>
        <%= image_tag 'https://d5izmuz0mcjzz.cloudfront.net/texts/slack/desc_slack_id_3.png', class: "d-block mx-auto mb-5" %>
        <%= image_tag 'https://d5izmuz0mcjzz.cloudfront.net/texts/slack/desc_slack_id_4.png', class: "d-block mx-auto mb-5" %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">閉じる</button>
      </div>
    </div>
  </div>
</div>
