<div class="admin-textsort-container">
  <p>ドラッグ＆ドロップで「Railsのテキスト教材」の並び順を変更できます</p>
  <%= link_to 'ジャンルごとに並び替え', admin_moviesort_path(sort: [:genre]) %>
  <div id="text_sort_list" class="sort-table">
    <div class="row title">
      <div class="left-column">ジャンル</div>
      <div class="right-column">タイトル</div>
    </div>
    <% @movies.each do |movie| %>
      <div class="row item <%= 'text-brown' if @rails_movie_ids.exclude?(movie.id) %>">
        <div class="left-column"><%= movie.genre %></div>
        <div class="right-column"><%= movie.title %></div>
      </div>
    <% end %>
  </div>
  <small>（現在表示されていない教材は文字色を薄くしております）</small>
</div>