<div class="admin-textsort-container">
  <p>ドラッグ＆ドロップで「テキスト教材」の並び順を変更できます</p>
  <p>（異なるジャンル間の並び替えには対応しておりません）</p>
  <div id="text_sort_list" class="sort-table">
    <div class="row title">
      <div class="left-column">ジャンル</div>
      <div class="right-column">タイトル</div>
    </div>
    <% @texts.each do |text| %>
      <div class="row item">
        <div class="left-column"><%= text.genre.name %></div>
        <div class="right-column"><%= text.title %></div>
      </div>
    <% end %>
  </div>
</div>

<%# Javascriptのコードを application.js や active_admin.js に入れても動作しないため，ここに記載 %>
<script>
    <%# ActiveAdmin側でタイトルを変更する方法が分からないため，Javascriptで変更 %>
    document.getElementById('page_title').innerText = 'テキスト教材の並び替え'
    $(function () {
        var textSortList = document.getElementById("text_sort_list");
        if (textSortList) {
            Sortable.create(textSortList, {
                draggable: ".item",
                onUpdate: function (evt) {
                    document.querySelectorAll('.sortable-dropped').forEach(function (row) {
                        row.classList.remove('sortable-dropped')
                    })
                    $.ajax({
                        url: 'textsort/update',
                        type: 'patch',
                        data: {
                            from: evt.oldIndex,
                            to: evt.newIndex
                        }
                    })
                        .done(function () {
                            evt.item.classList.add('sortable-dropped')
                        })
                        .fail(function () {
                            alert('エラーが発生しました。更新して下さい。')
                        });
                }
            });
        }
    });
</script>
