<div class="text-center nav-bar">
  <%= link_to "ユーザ一覧", users_path, class: "btn btn-primary"  %>
  <%= link_to "記事", users_webs_path, class: "btn btn-primary"  %>
</div>
<h1>ユーザー</h1>
<table class="table" id="users">
  <%= render @users %>
</table>
<%= link_to "ユーザーを追加する", new_user_path, remote: true %>
<div id="user-form"></div>