<% if user_signed_in? %>
  <section class="advertising_banner">
    <div class="cover text-center">
      <%= link_to "https://freelance.cat-algorithm.com/apply_for_gyakuten_members/", target: :_blank, rel: "noopener" do %>
        <%= image_tag "take_off_rails_banner.jpg", loading: "lazy" %>
      <% end %>
      <p>サロン特別割引適用パスワード：gyakutenseyo</p>
    </div>
  </section>
  <section class="advertising_banner">
    <div class="cover text-center">
      <%= link_to "http://yanbaru-expert.com/", target: :_blank, rel: "noopener" do %>
        <%= image_tag "yanbaru_expert_banner.jpg", loading: "lazy" %>
      <% end %>
    </div>
  </section>
<% end %>