<section class="advertising_banner">
  <div class="cover text-center">
    <%= link_to "http://yanbaru-expert.com/", target: :_blank, rel: "noopener" do %>
      <%= image_tag "https://d5izmuz0mcjzz.cloudfront.net/yanbaru_expert_banner.jpg", loading: "lazy" %>
    <% end %>
  </div>
</section>
