<% if object.errors.any? %>
  <div id="error_explanation">
    <div class="alert alert-danger">
      <%= object.errors.count %>つのエラーがあります。
    </div>
    <ul>
      <% object.errors.messages.values.each do |messages| %>
        <% messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>