<div class="card my-5">
  <h5 class="card-header">公開範囲について</h5>
  <div class="card-body">
    <p class="card-text">
      こちらの教材は、やんばるCODE、やんばるエキスパートの会員の方のみの限定公開となっています。
    </p>
    <p class="card-text">
      申し込みは以下のページよりお願いいたします。
    </p>
    <p><a href="https://yanbaru-expert.com/">やんばるエキスパート</a></p>
    <p><a href="https://utina.yoshitokamizato.com/entry/2018/09/06/202647">やんばるCODE オンライン</a></p>
    <p><a href="https://utina.yoshitokamizato.com/entry/2020/04/20/164421">やんばるCODE オフライン（月額プラン）</a></p>
    <p><a href="https://utina.yoshitokamizato.com/entry/2020/05/19/103519">やんばるCODE オフライン（住み込みプラン）</a></p>
  </div>
</div>