<form class="mb-3 search-form mx-auto">
  <i class="fa fa-search search-icon" title="Search"></i>
  <input type="text" id="search-text" class='form-control search-text' placeholder="教材を探す" aria-label="Username" aria-describedby="search-form">
</form>
