<form class=”mb-3”>
  <div class="input-group justify-content-center">
    <input type="text" id="search-text" class='form-control search-text' placeholder="教材を探す" aria-label="Username" aria-describedby="search-form">
    <div class="input-group-append">
      <span class="input-group-text" id="search-form"><i class="fa fa-search" title="Search"></i></span>
    </div>
  </div>
</form>
