<% if user_signed_in? %>
  <section id="take_of_rails">
    <div class="cover text-center">
      <%= link_to "https://freelance.cat-algorithm.com/apply_for_gyakuten_members/", target: :_blank do %>
        <%= image_tag "take_off_rails_banner.jpg" %>
      <% end %>
      <p>サロン特別割引適用パスワード：gyakutenseyo</p>
    </div>
  </section>
<% end %>