<section id="take_of_rails">
  <div class="cover text-center">
    <%= link_to "https://freelance.cat-algorithm.com/apply_for_gyakuten_members/", target: :_blank do %>
      <%= image_tag "take_off_rails_banner.jpg" %>
    <% end %>
    <p>割引価格の適用には上のリンクからパスワードを入力して申し込みを行う必要があります。<br>
    パスワードは〜〜〜〜〜になります。</p>
  </div>
</section>
