<div class="check-progress">
  <h1 class="text-center mb-4">進捗管理</h1>
  <div class="read-texts mb-5">
    <h2 class="mb-3">テキスト教材 読破済み</h2>
    <%= render partial: "display_data", collection: @read_text_data %>
  </div>
  <div class="watched-movies mb-5">
    <h2 class="mb-3">動画教材 視聴済み</h2>
    <%= render partial: "display_data", collection: @watched_movie_data %>
  </div>
</div>
