<%= form_for @word, url: word_path, html: { mathod: :patch } do |f| %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>何についての言及か？</th>
      <th>名言の内容</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
        <td><%= f.text_area :about %></td>
        <td><%= f.text_area :words, :rows => 4, :cols => 50  %></td>
        <td><%= f.submit "送信" %></td>
    </tr>
  </tbody>
</table>
<% end %>
