<%= form_for @word, url: words_path, html: { mathod: :post } do |f| %>
  <table class="table table-striped">
    <tbody>
      <tr>
        <td>何についての言及か？</td>
        <td><%= f.text_field :about %></td>
      </tr>
      <tr>
        <td>名言の内容</td>
        <td><%= f.text_area :words, :rows => 4, :cols => 50 %></td>
      </tr>
      <tr>
        <td></td>
        <td>
          <div class="text-center">
            <%= f.submit "送信", class: "submit btn btn-primary" %>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
