<div class="table-container">
  <table class="table table-striped">
    <thead class="bg-primary">
      <tr>
        <th class="w-2">ジャンル</th>
        <th class="w-5">用途</th>
      </tr>
    </thead>
    <tbody>
      <div id="web-table" >
        <%= render @users_webs %>
      </div>
    </tbody>
  </table>
</div>