<% @message&.each do |message| %>
  <div class="error text-center">
    <%= message %>
  </div>
<% end %>
<h1><%= fa_icon("laptop") %>&nbsp;&nbsp;Web</h1>
<div class="table-container">
  <table class="table table-striped">
    <thead class="bg-danger">
      <tr>
        <th class="w-2">ジャンル</th>
        <th class="w-5">用途</th>
      </tr>
    </thead>
    <tbody>
      <div id="web-table" >
        <%= render @users_webs %>
      </div>
    </tbody>
  </table>
  <div class="kaminari-container">
    <%= paginate @users_webs %>
  </div>
</div>
