<div id="users_web">
  <h1>Web</h1>
  <div id="web-table" >
    <%= render @users_webs %>
  </div>
  <div class="table-container">
    <table class="table table-striped">
      <thead class="bg-primary">
      <tr>
        <th class="w-2">名前</th>
        <th class="w-5">URL</th>
        <th></th>
      </tr>
      </thead>
      <tbody>

      </tbody>
    </table>
  </div>
  <%= link_to "データを追加", new_users_web_path, remote: true %>
  <div id="users-web-form"></div>
</div>
div>