<div id="users_web">
  <h1>Web</h1>
  <div id="web-table" >
    <%= render :partial => "index" %>
  </div>
  <div class="text-center">
    <div id="users-web-form"></div>
  </div>
  <div class="text-center">
    <%= link_to "記事を追加", new_users_web_path, id: "add-link", class: "btn btn-primary",remote: true %>
  </div>
</div>
