@import "active_admin/mixins";
@import "active_admin/base";

.admin-textsort-container {
  text-align: center;
  font-size: 150%;

  .sort-table {
    display: table;
    margin: 0 auto;
    border: 1px solid #333333;

    .row {
      display: table-row;

      div.left-column {
        border-right: 1px dashed #333;
      }

      div.right-column {
        border-left: 1px dashed #333;
      }

      div {
        display: table-cell;
        padding: 10px;
        border: 1px solid #333;
      }

    }

    .title {
      background-color: #efefef;
    }

    .item {
      cursor: pointer;
    }

    .text-brown {
      color: #BBB;
    }

    .sortable-chosen {
      background-color: #fbb;
    }

    .sortable-dropped {
      background-color: #bff;
    }
  }
}
