/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 *= require social-share-button
 */
@import "bootstrap/functions";
@import "bootstrap";

.fixed-top {
  background-color: #5D99FF;
}

#nav {
  .bg-primary {
    background-color: #ff253e;
  }
  .nav-link {
    padding: 10px 15px;
  }

}

.table {
  .w-25 {
    width: 25%;
  }
  input {
    width: 100%;
  }
  .submit {
    width: 20%;
  }
}

td {
  textarea {
    height: 200px;
    width: 100%;
  }
}


.btn {
  padding-bottom: 3px;
}

.add-button {
  padding: 10px;
}

pre {
  border: 0.1px solid;
  padding: 10px;
}

.footer {
  background-color: #5D99FF;
  margin-top: 30px;
}

@media screen and (min-width:0px) {
  @import "smart_phones";
  #nav {
    margin-bottom: 100px;
  }

}


@media screen and (min-width:992px){
  @import "movie";
  @import "marketing";
  @import "users_webs";
  @import "contents";
  @import "questions";
  @import "loggins";

  #nav {
    margin-bottom: 0px;
  }

  .navbar {
    margin: 0 auto;
    width: 990px;
    a {
      font-size: 30px;
    }
    .navbar-collapse {
      justify-content: flex-end;
    }

    .navbar-nav a {
      font-size: 14px;
    }
  }

}

/*質問投稿用*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#container {
  .initial-height {
    height: initial;
  }
}

@media screen and (min-width:1200px){

  .navbar {
    width: 1200px;
    .navbar-nav a {
      font-size: 18px;
    }
  }

  #container {
    width: 1200px;
  }

  .texts-content {
    height: 360px;
    img {
      height: 187px;
    }
  }

}