/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */
@import "bootstrap/functions";
@import "bootstrap";
#nav {
  .bg-primary {
    background-color: #ff253e;
  }
  .nav-link {
    padding: 10px 15px;
  }

}

.navbar {
  background-color: #5D99FF;
}

.table {
  .w-25 {
    width: 25%;
  }
  input {
    width: 100%;
  }
  .submit {
    width: 20%;
  }
}

td {
  textarea {
    height: 200px;
    width: 100%;
  }
}


.btn {
  padding-bottom: 3px;
}

.add-button {
  padding: 10px;
}

pre {
  border: 0.1px solid;
  padding: 10px;
}

.footer {
  background-color: #5D99FF;
  margin-top: 30px;
}

@media screen and (min-width:0px) {
  @import "smart_phones";
  #nav {
    margin-bottom: 100px;
  }

  .texts-wrapper {
    text-align: center;
  }

  .contents-title h2 {
    color: #444444;
  }

  .texts-content {
    width: 90%;
    margin: 10% 5%;
    background-color: #f7f7f7;
    box-shadow: 0px 1px #c7d4e6;
    border: 3px solid #c7d4e6;
    border-radius: 9px;
    cursor: pointer;
    position: relative;
    height: 730px;

    &:hover {
      box-shadow: 0px 0px 0px 1px #7d9ccb;
      border: 1px solid #7d9ccb;
      transition: all linear 0.1s;
    }

    p {
      margin-bottom: 30px;
      left: 24px;
      bottom: 0px;
      position: absolute;
      font-size: 28px !important;
      color: #444444;
    }

    h3 {
      text-align: left;
      padding: 0 40px;
      margin-top: 30px;
      font-size: 32px;
      color: #444444;
    }

    img {
      width: 100%;
      border-top-left-radius: 9px;
      border-top-right-radius: 9px;
      max-height: 520px;
    }

    a {
      text-decoration: none;
      display: block;
      height:100%;
    }
  }

}


@media screen and (min-width:1000px){
  @import "movie";
  @import "marketing";
  @import "users_webs";
  @import "contents";
  @import "questions";
  @import "loggins";
  #nav {
    margin-bottom: 0px;
  }

  .texts-wrapper {
    padding: 0 6%;
  }

  .texts-contents {
    display: flex;
    flex-wrap: wrap;
  }

  .texts-content {
    width: calc(94% / 3);
    margin: 0 1%;
    padding: 0px;
    margin-bottom: 50px;
    height: 400px;
    border: 1px solid #c7d4e6;

    h3 {
      padding: 0 40px;
      font-size: 16px;
      margin-top: 20px;
    }

    img {
      width: 100%;
      height: 270px;
    }

    p {
      padding: 0 40px;
      bottom: -24px;
      left: -14px;
      font-size: 16px !important;
    }

  }


}

/*質問投稿用*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#container {
  .initial-height {
    height: initial;
  }
}

// テキスト教材
