/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require font-awesome
 */
@import "bootstrap/functions";
@import "bootstrap";

#nav {
  .bg-primary {
    background-color: #ff253e;
  }
  .nav-link {
    padding: 10px 15px;
  }
}


.table {
  .w-25 {
    width: 25%;
  }
  input {
    width: 100%;
  }
  .submit {
    width: 20%;
  }
}

td {
  textarea {
    height: 200px;
    width: 100%;
  }
}


.btn {
  padding-bottom: 3px;
}

.add-button {
  padding: 10px;
}

pre {
  border: 0.1px solid;
  padding: 10px;
}

@media screen and (min-width:0px) {
  /*0px以上で適用する内容*/
  @import "smart_phones";
}

@media screen and (min-width:1000px){
  /*600px以上で適用する内容*/
  @import "users_webs";
  @import "contents";
  @import "questions";
  @import "loggins";
}

/*質問投稿用*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

#container {
  .initial-height {
    height: initial;
  }
}
