.navbar {
  a {
    font-size: 30px;
  }
  .navbar-nav a {
    font-size: 20px;
  }
}

#container {
  width: 100%;
  padding: 50px 0 80px 0;
  max-width: 710px;
  margin: 0 auto;

  .form-control {
    height: 50px;
    font-size: 17px;
  }

  p {
    font-size: 17px;
  }
  pre {
    font-size: 17px;
  }
  li {
    font-size: 17px;
  }

  h1 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
  }

  h2 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
  }

  .movie {
    padding: 50px 0px 20px 0px;
  }

  table {
    table-layout: fixed;
    font-size: 17px;
    thead {
      color: white;
    }
    a { //リンクをテーブルの中で折り返して表示　※現在は使用してないが記録として
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 3.0 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP Printers */
      word-wrap: break-word;      /* IE 5+ */
    }
    .w-1 {
      width: 10%;
    }
    .w-2 {
      width: 20%;
    }
    .w-5 {
      width: 50%;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

#contents {
  .desc {
    visibility: visible;
    padding-bottom: 50px;
  }
  .btn {
    width: 150px;
    font-size: 18px;
  }
  .search-form {
    padding-bottom: 30px;
  }
}

#line-contents {
  width: 450px;
  h2 {
    padding: 30px 0px 10px 0px;
  }
  font-size: 20px;
}

#movie {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#design {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#money {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#salon {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#text-contents {

  table {
    margin: 30px auto;
  }

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
    color: #000;
  }

  tr:nth-child(even) {
    background: #d9d9d9;
  }
}
