#nav {
  margin-bottom: 0px;
}

#container {
  width: 990px;
  padding: 50px 0 80px 0;
  margin: 0 auto;

  .form-control {
    height: 50px;
    font-size: 17px;
  }

  pre {
    font-size: 17px;
  }
  li {
    font-size: 17px;
  }

  h1 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
  }

  h2 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
  }

  p {
    font-size: 17px
  }

  .movie {
    padding: 50px 0px 20px 0px;
  }

  table {
    table-layout: fixed;
    font-size: 17px;
    thead {
      color: white;
    }
    a { //リンクをテーブルの中で折り返して表示　※現在は使用してないが記録として
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 3.0 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP Printers */
      word-wrap: break-word;      /* IE 5+ */
    }
    .w-1 {
      width: 10%;
    }
    .w-2 {
      width: 20%;
    }
    .w-5 {
      width: 50%;
    }
  }
}

.table-container {
  width: 710px;
  margin: 0 auto;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

#contents {
  .desc {
    visibility: visible;
    padding-bottom: 50px;
  }
  .btn {
    width: 150px;
    font-size: 18px;
  }
  .search-form {
    padding-bottom: 30px;
  }
  p {
    width: 710px;
    margin: 0 auto;
    padding-bottom: 15px;
  }
}

#line-contents {
  width: 450px;
  h2 {
    padding: 30px 0px 10px 0px;
  }
  font-size: 20px;
}

#design {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#money {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#salon {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#talk {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#writings {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#phps {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#live {
  width: 90%;
  margin: 0 auto;
  .movie-contents {
    padding-bottom: 30px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

.texts-contents {
  display: flex;
  flex-wrap: wrap;
}

.texts-content {
  width: calc(94% / 3);
  margin: 0 1%;
  padding: 0px;
  margin-bottom: 50px;
  height: 320px;
  border: 1px solid #c7d4e6;

  h3 {
    padding: 0 27px;
    font-size: 16px;
    margin-top: 30px;
  }

  img {
    width: 100%;
    height: 154px;
  }

  p {
    padding: 0 40px;
    bottom: -12px;
    left: -16px;
    font-size: 16px !important;
  }

}

#text-contents {
  width: 710px;
  margin: 70px auto 0;

  table {
    margin: 30px auto;
  }

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
    color: #000;
  }

  tr:nth-child(even) {
    background: #d9d9d9;
  }
}

#aws-contents {
  width: 710px;
  margin: 70px auto 0;

  table {
    margin: 30px auto;
  }

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
    font-size: 14px;
    color: #000;
  }

  tr:nth-child(even) {
    background: #d9d9d9;
  }
}

#take_of_rails {
  width: 40vw;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding: 40px 0px;
  .cover img {
    border: solid #505050 1px;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
  }
  .cover p {
    font-size: 16px;
  }
  :hover {
    opacity: 0.9;
  }
}
