.navbar {
  a {
    font-size: 30px;
  }
  .navbar-nav a {
    font-size: 20px;
  }
}

#container {
  width: 100%;
  padding: 50px 0 80px 0;
  max-width: 710px;
  margin: 0 auto;

  p {
    font-size: 17px;
  }
  pre {
    font-size: 17px;
  }
  li {
    font-size: 17px;
  }

  h1 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
  }

  h2 {
    padding: 20px 0px 10px 0px;
    font-size: 30px;
  }

  .movie {
    padding: 50px 0px 20px 0px;
  }

  table {
    table-layout: fixed;
    font-size: 17px;
    thead {
      color: white;
    }
    a { //リンクをテーブルの中で折り返して表示　※現在は使用してないが記録として
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 3.0 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP Printers */
      word-wrap: break-word;      /* IE 5+ */
    }
    .w-1 {
      width: 10%;
    }
    .w-2 {
      width: 20%;
    }
    .w-5 {
      width: 50%;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

#line-contents {
  width: 450px;
  h2 {
    padding: 30px 0px 10px 0px;
  }
  font-size: 20px;
}

#movie-contents {
  width: 90%;
  .movie-desc {
    padding-top: 30px;
    p {
      font-size: 17px;
    }
  }
}

#text-contents {
  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
  }

  table.type06 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
  }
  table.type06 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background: #d9d9d9;
  }
}