.info_box {
  padding: 0.2em 0.5em;
  margin: 2em 0;
  color: #565656;
  background: #ffeaea;
  box-shadow: 0px 0px 0px 10px #ffeaea;
  border: dashed 2px #ffc3c3;
  border-radius: 8px;

  p {
    margin: 0;
    padding: 0;
  }
}