.container {
  height: 200px;
  width: 100%;
  padding: 50px 0;
}

.navbar {
  a {
    font-size: 3em;
  }
  .navbar-nav a {
    font-size: 2em;
  }
}

#users_web {
  h1 {
    font-size: 3em;
  }
  .web-table {
    font-size: 2em;
  }
  .table-container {
    padding: 30px 0;
  }
  table {
    table-layout: fixed;
    thead {
      color: white;
    }
    a { //リンクをテーブルの中で折り返して表示　※現在は使用してないが記録として
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 3.0 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP Printers */
      word-wrap: break-word;      /* IE 5+ */
    }
  }
  .w-2 {
    width: 20%;
  }
  .w-5 {
    width: 50%;
  }
  .btn {
    margin: 30px;
  }
  .kaminari-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}