#container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0 160px 0;

  .form-control {
    height: 100px;
    font-size: 50px;
  }

  h1 {
    padding: 40px 0px 10px 0px;
    font-size: 3em;
  }

  h2 {
    padding: 40px 0px 10px 0px;
    font-size: 3em;
  }

  p {
    font-size: 2.2em;
    line-height: 1.9em;
  }

  pre {
    font-size: 1.7em;
    line-height: 1.9em;
  }

  li {
    font-size: 2em;
  }

  .movie {
    padding: 50px 0px 20px 0px;
  }

  table {
    table-layout: fixed;
    font-size: 1.5em;
    thead {
      color: white;
    }
    a { //リンクをテーブルの中で折り返して表示　※現在は使用してないが記録として
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 3.0 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP Printers */
      word-wrap: break-word;      /* IE 5+ */
    }
    .w-1 {
      width: 10%;
    }
    .w-2 {
      width: 20%;
    }
    .w-5 {
      width: 50%;
    }
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  a {
    padding: 0 20px;
    font-size: 20px;
  }
}

#contents {
  .desc {
    visibility: hidden;
  }
}

#users_web {
  h1 {
    font-size: 3em;
  }
  #web-table {
    font-size: 2em;
  }
  .table-container {
    padding: 30px 0;
  }
  table {
    table-layout: fixed;
    thead {
      color: white;
    }
    a { //リンクをテーブルの中で折り返して表示　※現在は使用してないが記録として
      white-space: pre;           /* CSS 2.0 */
      white-space: pre-wrap;      /* CSS 2.1 */
      white-space: pre-line;      /* CSS 3.0 */
      white-space: -pre-wrap;     /* Opera 4-6 */
      white-space: -o-pre-wrap;   /* Opera 7 */
      white-space: -moz-pre-wrap; /* Mozilla */
      white-space: -hp-pre-wrap;  /* HP Printers */
      word-wrap: break-word;      /* IE 5+ */
    }
  }
  .w-1 {
    width: 13%;
  }
  .w-2 {
    width: 20%;
  }
  .w-5 {
    width: 50%;
  }
  .btn {
    margin: 30px;
  }
  .kaminari-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

#movie {
  width: 90%;
  margin: 0 auto;
  .movie-title {
    font-size: 40px;
  }
  .movie-contents {
    padding-bottom: 70px;
  }
  .paginate-container {
    display: flex;
    justify-content: center;
    align-items: center;
    .paginate-container {
      .page-link {
        background-color: #B00100;
      }
    }
  }
}

#text-contents {
  margin: 0 auto;

  img {
    width: 100%;
  }

  p {
    margin-bottom: 1rem;
  }

  h1, h2 {
    font-weight: bold;
    padding-top: 50px;
  }

  table {
    margin: 30px auto;
  }

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
    font-size: 1.4em;
    color: #000;
  }

  table.type06 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
  }

  table.type06 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background: #d9d9d9;
  }
}

.texts-wrapper {
  text-align: center;
}

.contents-title h2 {
  color: #444444;
}

.texts-content {
  width: 90%;
  margin: 10% 5%;
  background-color: #f7f7f7;
  box-shadow: 0px 1px #c7d4e6;
  border: 3px solid #c7d4e6;
  border-radius: 9px;
  cursor: pointer;
  position: relative;
  height: 680px;

  &:hover {
    box-shadow: 0px 0px 0px 1px #7d9ccb;
    border: 1px solid #7d9ccb;
    transition: all linear 0.1s;
  }

  p {
    margin-bottom: 30px;
    left: 24px;
    bottom: 0px;
    position: absolute;
    font-size: 28px !important;
    color: #444444;
  }

  h3 {
    text-align: left;
    padding: 0 40px;
    margin-top: 44px;
    font-size: 32px;
    color: #444444;
  }

  img {
    width: 100%;
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
    max-height: 394px;
  }

  a {
    text-decoration: none;
    display: block;
    height:100%;
  }
}

#aws-contents {
  margin: 0 auto;

  img {
    width: 100%;
  }

  p {
    margin-bottom: 1rem;
  }

  h1, h2 {
    font-weight: bold;
    padding-top: 50px;
  }

  table {
    margin: 30px auto;
  }

  table, th, td {
    border-collapse: collapse;
    border: 1px solid #ccc;
    line-height: 1.5;
    padding: 10px;
    font-size: 1.4em;
    color: #000;
  }

  table.type06 th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
  }
  table.type06 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
  }

  tr:nth-child(even) {
    background: #d9d9d9;
  }
}
.aws-table-head {
  background-color: #5D99FF;
}

#line-contents {
  margin: 0 auto;
  width: 70%;

  h2 {
    padding: 30px 0px 10px 0px;
  }
  p {
    line-height: 3em;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  a {
    padding: 0 20px;
    font-size: 2em;
  }
}

// 一覧ページ
#questions {
  .question-container {
    padding: 30px 0;
  }
  a {
    text-decoration: none;
    display: block;
    color: #333333;
    border: solid 2px #505050;
    border-radius: 10px;
    transition: .4s;
    .title {
      font-size: 35px;
      line-height: 2;
    }
    .info {
      padding: 10px 10px 10px 20px;
      color: #BBBBBB;
    }
  }
  a:hover {
    border: solid 2px #DC3545;
    -webkit-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
    transition: .4s;
  }
  .question {
    padding: 10px;
  }
}

// 詳細ページ
#question {
  h3 {
    font-size: 45px;
  }
  p {
    font-size: 40px;
  }
  .title {
    padding-top: 70px;
  }
  .detail {
    padding-top: 70px;
  }
  .solution {
    padding-top: 70px;
  }
}

.advertising_banner {
  max-width: 600px;
  margin: 2rem auto;

  .cover img {
    border: solid #505050 1px;
    border-radius: 10px;
    padding: 5px;
    width: 80%;
  }

  :hover {
    transition: opacity 0.5s;
    opacity: 0.9;
  }
}
