/* ----------------------------------------------------------------
  共通
-----------------------------------------------------------------*/
// min-width
$breakpoint-up: (
  'xxs': 'screen and (min-width: 485px)',
  'xs': 'screen and (min-width: 587px)',
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 778px)',
  'lg': 'screen and (min-width: 965px)',
  'xl': 'screen and (min-width: 1081px)',
  'xxl': 'screen and (min-width: 1332px)',
) !default;

// max-width
$breakpoint-down: (
  'xxs': 'screen and (max-width: 484px)',
  'xs': 'screen and (max-width: 586px)',
  'sm': 'screen and (max-width: 689px)',
  'md': 'screen and (max-width: 777px)',
  'lg': 'screen and (max-width: 964px)',
  'xl': 'screen and (max-width: 1080px)',
  'xxl': 'screen and (max-width: 1331px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}
@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// フォント色
.static-color {
  color: #fff;
}

// 全幅表示
@mixin colorWidth {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vh - 50%);
}

// flexの中央寄せ
@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// flex-item
@mixin flexItem($color: black, $backgroung: #fff, $width: calc(33.33333333% - 100px / 3)) {
  box-sizing: border-box;
  border-radius: 25px;
  margin: 0 50px 50px 0;
  padding: 20px;
  text-align: center;
  color: $color;
  background: $backgroung;
  width: $width;
}
// タブレット用のスペース
@mixin flexItemSpaceTab {
  margin: 0 20px 20px 0;
  width: calc(50% - 20px / 2);

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-child(3n) {
    margin-right: 20px;
  }

  &:nth-child(6) {
    margin-right: 0;
  }
}

// スマホ用のスペース
@mixin flexItemSpaceSp {
  width: 100%;
  margin-right: 0;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

// 要素の横並び
.flex-side {
  display: flex;
  flex-wrap: wrap;
  margin: 20px;
}


#home-container {

  .contents {
    @include flexCentering();
    flex-direction: column;
    min-height: 100vh;

    @include mq-down(sm) {
      overflow: hidden;
    }
  }
}

// 各セクションタイトル
// タイトル下部線
@mixin titlelUnderline($height: 10px, $background: $static-color) {
  content: "";
  display: block;
  border-radius: 10px;
  margin: 5px auto 0;
  width: 50%;
  height: $height;
  background: $background;
}

.util-title {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;

  .util-title-inner {

    &::after {
      @include titlelUnderline();
    }
  }

  .util-title-color {
    &::after {
      @include titlelUnderline(10px, #fff);
    }
  }

  @include mq-down(sm) {
    font-size: 1.7rem;
  }
}

.sub-title {

  .sub-title-inner {

    &::after {
      @include titlelUnderline(5px, $static-color);
    }
  }
}

/* ----------------------------------------------------------------
  heading
-----------------------------------------------------------------*/
#heading {
  position: relative;
  overflow: hidden;
  @include colorWidth();
  @include flexCentering();
  min-height: 100vh;
  background: $static-color;
  margin-top: -100px;
  flex-direction: column;

  .owner_icon {
    position: absolute;
    width: 250px;
    bottom: 45%;
    right: 15%;
    z-index: 1000;
  }

  // 背景の三角形
  @include mq-up(sm) {
    &::after {
      position: absolute;
      content: "";
      display: block;
      top: 0;
      right: 0;
      border-top: 20vh solid #fff;
      border-left: 100vw solid #fff;
      border-right: 0 solid transparent;
      border-bottom: 50vh solid transparent;
    }
  }
}

.heading-inner {
  position: relative;
  width: 100vw;
  height: 50vh;
  z-index: 1000;

  .heading-lead {
    position: absolute;
    top: 35%;
    left: 20%;

    .heading-lead-title {
      font-size: 2.5rem;
      font-weight: bold;
      padding-bottom: 0;
      margin-bottom: 0;
    }

    .heading-lead-text {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

.heading-about {
  color: #fff;
  height: 50vh;
  margin-top: 50px;
  font-size: 1.5rem;
}

// ボタン
.btn-teaching {
  display: inline-block;
  padding: 10px 40px;
  text-decoration: none;
  border-radius: 25px;
  color: #fff;
  background: $static-color;
  border-bottom: solid 3px #2b66f1;

  &:hover{
    opacity: 0.8;
    color: #fff;
  }
}

// スマホ表示
@include mq-down(sm) {
  .heading-inner {
    color: #fff;

    .heading-lead {
      width: 100%;
      left: 10%;

      .heading-lead-title {
        font-size: 2rem;
      }

      .heading-lead-text {
        font-size: 1.2rem;
      }
    }

    .btn-teaching {
      background: #fff;
      color: black;
    }
  }

  .heading-about {
    font-size: 1.3rem;
  }
}

// タブレットサイズ
@include mq-down(lg) {
  .owner_icon {
    display: none;
  }
}

/* ----------------------------------------------------------------
  about
-----------------------------------------------------------------*/
#about {

  .about-list {
    @include colorWidth();
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    max-width: 1140px;

    .about-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: calc(19em * (1.41421356237 - 1) / 2);
      width: 19em;
      height: 19em;
      font-size: 1vw;
      background: $static-color;
      color: #fff;
      border-radius: 50%;

      @include mq-up(xxl) {
        font-size: 1rem;
      }
    }

    // スマホ用
    @include mq-down(xl) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .about-item {
        width: 300px;
        height: 300px;
        border-radius: 50%;
        margin-bottom: 50px;

        .about-item-text {
          font-size: 1rem;
        }
      }
    }

  }
}

.about-item-title {
  font-size: 2rem;
  padding-bottom: 10px;
  word-break: keep-all;

  @include mq-down(lg) {
    font-size: 1.5rem;
    padding-bottom: 0;
  }
}

@include mq-down(sm) {
  #about {
    @include colorWidth();
  }
}

/* ----------------------------------------------------------------
  teachinglist
-----------------------------------------------------------------*/
#teachinglist {
  @include colorWidth();

  .teachinglist-content {
    max-width: 1140px;

    @include mq-down(lg) {
      min-width: 85vw;
    }

    .teachinglist-list {
      @extend .flex-side;

    }
  }
}

.teachinglist-item {
  @include flexItem();

  &:nth-child(3n) {
    margin-right: 0;
  }

  @include mq-down(xl) {
    @include flexItemSpaceTab();
  }

  @include mq-down() {
    @include flexItemSpaceSp();
  }
}

.teaching-item-text {
  font-size: 1.5vmin;
  word-break: keep-all;

  @include mq-down() {
    font-size: 3vmin;
  }
}


/* ----------------------------------------------------------------
  features
-----------------------------------------------------------------*/
#features {
  @include colorWidth();

  .features-content {
    max-width: 1140px;

    @include mq-down(lg) {
      min-width: 85vw;
    }

    .features-list {
      @extend .flex-side;

    }
  }
}

.features-item {
  @include flexItem(#fff, $static-color, );

  &:nth-child(3n) {
    margin-right: 0;
  }

  // タブレット
  @include mq-down(xl) {
    @include flexItemSpaceTab();
  }

  // スマホ
  @include mq-down() {
    @include flexItemSpaceSp();
    min-width: 200px;
  }

  .features-item-text {
    font-size: 1.5vmin;
    word-break: keep-all;

    @include mq-down() {
      font-size: 3vmin;
    }
  }
}

.features-item-title-inner {
  &::after {
    @include titlelUnderline(5px, #fff);
  }
}

/* ----------------------------------------------------------------
services
-----------------------------------------------------------------*/
#services {
  @include colorWidth();

  .util-intro {
    margin-top: 30px;
    margin-bottom: 20px;

    .util-text {
      min-width: 350px;
    }
  }

  .services-content {
    max-width: 960px;

    @include mq-down(lg) {
      min-width: 90vw;
    }

    @include mq-down() {
      min-width: 85vw;
    }

    .services-list {
      @extend .flex-side;
      margin-top: 0;
      justify-content: space-between;

      .services-item {
        @include flexItem();
        width: calc(50% - 100px / 2);
        position: relative;

        &:nth-child(2n){
          margin-right: 0;
        }

        @include mq-down() {
          @include flexItemSpaceSp();
          min-width: 200px;
        }

        .service-link {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
      }

      @include mq-up(lg) {
        min-width: 800px;
      }
    }
  }
}

/* ----------------------------------------------------------------
  developer
-----------------------------------------------------------------*/
#developer {
  @include colorWidth();

  .util-intro {
    margin-top: 30px;
    min-width: 300px;
  }
}

.developer-content {
  max-width: 960px;

  @include mq-down(lg) {
    min-width: 85vw;
  }

  .developer-list {
    @extend .flex-side;
    justify-content: space-between;

    .developer-item {
      @include flexItem();
      width: calc(50% - 100px / 2);

      &:nth-child(2n){
        margin-right: 0;
      }

      .developer-item-text {
        word-break: keep-all;
      }

      @include mq-down() {
        @include flexItemSpaceSp();
        min-width: 200px;
      }
    }

    @include mq-up(lg) {
      min-width: 750px;
    }
  }
}


/* ----------------------------------------------------------------
  administor
-----------------------------------------------------------------*/
#administor {
  @include colorWidth();
}

.administor-inner {
  position: relative;
  display: flex;
  justify-content: space-between;

  .administor-icon {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
    margin-right: 150px;
  }

  .administor-info {
    position: absolute;
    top: 100px;
    left: 0;

    @include mq-down(lg) {
      top: 50%;
      left: 50%;
      transform: translate(-50%, 50%);

      @include mq-down(sm) {
        transform: translate(-50%, -35%);
      }
    }

    .administor-name {
      font-size: 1.5rem;
      font-weight: bold;

      @include mq-down(lg) {
        text-align: center;
      }
    }

    .administor-text {
      min-width: 250px;
    }
  }
}

// snsアイコン
.administor-sns {
  display: flex;
  justify-content: center;

  .sns-item {
    position: relative;

    .sns-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}
@include mq-down(xs) {
  .administor-sns {
    flex-wrap: wrap;
  }
}

// スマホ表示
@include mq-down(sm) {
  .administor-inner {
    width: 100vw;
    height: 50vh;
  }
}

@include mq-down(lg) {
  .administor-icon {
    display: none;
  }
}

/* ----------------------------------------------------------------
  faq
-----------------------------------------------------------------*/
// 質問全体
.faq-list {
  width: 100%;
  margin: 90px auto 0;
  max-width: 1140px;

  .faq-item {
    background: $static-color;
    border-radius: 50px;
    margin-top: 30px;
  }
  .faq-item-title {
    flex: 0 0 35px;
    font-size: 18px;
    font-weight: bold;
  }
}

// 質問部分
.faq-question {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 30px 0 10px 40px;

  @include mq-down() {
    padding-bottom: 25px;
    }
}

// 回答部分
.faq-answer {
  display: none;

  &:active {
    display: block;
  }

  .faq-answer-inner {
    position: relative;
    display: flex;
    padding: 20px 40px;

    &::before {
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      top: 0px;
      right: 40px;
      left: 40px;
      background: #fff;
      border: 0 solid #fff;
    }
  }
}

// 矢印部分
.faq-question-text {
  position: relative;
  width: 90%;

  &::after {
    position: absolute;
    top: 30%;
    right:10px;
    display: block;
    content: "";
    width: 15px;
    height: 15px;
    border-top: solid 3px #fff;
    border-right: solid 3px #fff;
    transform: translate(0, -50%) rotate(135deg);
    transform-origin: center;

    @include mq-down() {
      top: 45px;
      right: 55%;
    }
  }

  &:active::after {
    transform:translate(0, -50%) rotate(-45deg);
  }

}

@include mq-down(lg) {
  .faq-list {
    margin: 0;
  }
}

/* ----------------------------------------------------------------
  footer
-----------------------------------------------------------------*/
.static-footer {
  height: 300px;
  padding: 1.2rem;

  .footer-contents {
    display: flex;
    justify-content: space-around;
    color: #fff;
    min-width: 800px;
    width: 90vw;
    max-width: 1160px;

    .footer-list {
      padding: 0;
    }

    a {
      color: inherit;
    }

    ul {
      list-style: none;
    }
  }
}

// スマホ表示
@include mq-down() {
  .static-footer {
    min-height: 400px;

    .footer-contents {
      flex-wrap: wrap;
      min-width: 0;

      .footer-list {
        width: 100%;
      }

      a {
        font-size: 17px;
        padding: 0;
      }
    }
  }
}
