/* ----------------------------------------------------------------
  共通
-----------------------------------------------------------------*/
// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// フォント色
.static-color {
  color: #fff;
}

// 全幅表示
@mixin colorWidth {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vh - 50%);
}

// flexの中央寄せ
@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

/* ----------------------------------------------------------------
  heading
-----------------------------------------------------------------*/
.heading-inner {
  position: relative;

  .owner_icon {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
  }
}
