/* ----------------------------------------------------------------
  共通
-----------------------------------------------------------------*/
// min-width
$breakpoint-up: (
  'sm': 'screen and (min-width: 690px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

// max-width
$breakpoint-down: (
  'sm': 'screen and (max-width: 689px)',
  'md': 'screen and (max-width: 767px)',
  'lg': 'screen and (max-width: 999px)',
  'xl': 'screen and (max-width: 1199px)',
) !default;

@mixin mq-up($breakpoint: md) {
  @media #{map-get($breakpoint-up, $breakpoint)} {
    @content;
  }
}
@mixin mq-down($breakpoint: md) {
  @media #{map-get($breakpoint-down, $breakpoint)} {
    @content;
  }
}

// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// フォント色
.static-color {
  color: #fff;
}

ul {
  list-style: none;
}

// 全幅表示
@mixin colorWidth {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vh - 50%);
}

// flexの中央寄せ
@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// flex-item
@mixin flexItem($color: black, $backgroung: #fff, $width: calc(33.33333333% - 100px / 3)) {
  box-sizing: border-box;
  border-radius: 25px;
  margin: 0 50px 50px 0;
  padding: 20px;
  text-align: center;
  color: $color;
  background: $backgroung;
  width: $width;
}
// タブレット用のスペース
@mixin flexItemSpaceTab {
  margin: 0 20px 20px 0;
  width: calc(50% - 20px / 2);

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:nth-child(3n) {
    margin-right: 20px;
  }

  &:nth-child(6) {
    margin-right: 0;
  }
}

// スマホ用のスペース
@mixin flexItemSpaceSp {
  width: 100%;
  margin-right: 0;

  &:nth-child(3n) {
    margin-right: 0;
  }
}

// 要素の横並び
.flex-side {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}


#home-container {

  .contents {
    @include flexCentering();
    flex-direction: column;
    min-height: 100vh;
  }
}

// 各セクションタイトル
.util-title {
  font-size: 2rem;
  font-weight: bold;
  white-space: nowrap;

  .util-title-inner {

    &::after {
      content: "";
      display: block;
      height: 10px;
      border-radius: 10px;
      margin: 5px auto 0;
      width: 50px;
      background: $static-color;
    }
  }
}

/* ----------------------------------------------------------------
  heading
-----------------------------------------------------------------*/
#heading {
  min-height: 100vh;

  .heading-inner {
    position: relative;

    .owner_icon {
      position: absolute;
      width: 250px;
      top: 0;
      right: 0;
    }
  }
}

/* ----------------------------------------------------------------
  about
-----------------------------------------------------------------*/
#about {

  .about-list {
    display: flex;
    justify-content: space-between;
  }
}

/* ----------------------------------------------------------------
  teachinglist
-----------------------------------------------------------------*/
#teachinglist {
  @include colorWidth();

  .teachinglist-content {

    .teachinglist-list {
      @extend .flex-side;

      .teachinglist-item {
        @include flexItem();

        &:nth-child(3n) {
          margin-right: 0;
        }

        // タブレット
        @include mq-down() {
          @include flexItemSpaceTab();
        }

        // スマホ
        @include mq-down(sm) {
          @include flexItemSpaceSp();
        }
      }
    }
  }
}

/* ----------------------------------------------------------------
  features
-----------------------------------------------------------------*/
#features {
  @include colorWidth();

  .features-content {

    .features-list {
      @extend .flex-side;

      .features-item {
        @include flexItem(#fff, $static-color, );

        &:nth-child(3n) {
          margin-right: 0;
        }

        // タブレット
        @include mq-down() {
          @include flexItemSpaceTab();
        }

        // スマホ
        @include mq-down(sm) {
          @include flexItemSpaceSp();
          min-width: 200px;
        }
      }
    }
  }
}

/* ----------------------------------------------------------------
services
-----------------------------------------------------------------*/
#services {
  @include colorWidth();

  .util-intro {
    margin-top: 50px;
    white-space: nowrap;
  }

  .services-list {
    @extend .flex-side;
    margin-top: 0;
    justify-content: space-between;

    .services-item {
      @include flexItem();
      width: calc(50% - 100px / 2);
      position: relative;

      &:nth-child(2n){
        margin-right: 0;
      }

      @include mq-down(sm) {
        @include flexItemSpaceSp();
        min-width: 200px;
      }

      .service-link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  }
}

/* ----------------------------------------------------------------
  developer
-----------------------------------------------------------------*/
#developer {
  @include colorWidth();

  .util-intro {
    margin-top: 30px;
    white-space: nowrap;
  }
  .developer-content {
    @include mq-up(sm) {
      min-width: 800px;
    }

    .developer-list {
      @extend .flex-side;
      justify-content: space-between;

      .developer-item {
        @include flexItem();
        width: calc(50% - 100px / 2);

        &:nth-child(2n){
          margin-right: 0;
        }

        @include mq-down(sm) {
          @include flexItemSpaceSp();
          min-width: 200px;
          }
        }
      }
    }
}

/* ----------------------------------------------------------------
  administor
-----------------------------------------------------------------*/
#administor {
  min-height: 100vh;

  .administor-inner {
    position: relative;
    display: flex;
    justify-content: space-between;

    .administor-icon {
      position: absolute;
      width: 250px;
      top: 0;
      left: 0;
    }

  }
}

.administor-sns {
  display: flex;

  .sns-item {
    position: relative;

    .sns-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

/* ----------------------------------------------------------------
  faq
-----------------------------------------------------------------*/
// 質問全体
.faq-list {
  @include colorWidth();
  max-width: 800px;

  .faq-item {
    background: $static-color;
    border-radius: 50px;
    margin-top: 30px;
  }
  .faq-item-title {
    flex: 0 0 35px;
    font-size: 18px;
    font-weight: bold;
  }
}

// 質問部分
.faq-question {
  cursor: pointer;
  position: relative;
  display: flex;
  padding: 40px 80px 30px 40px;

  &::after {
    content: "";
    display: block;
    width: 25px;
    height: 16px;
    position: absolute;
  }
}

// 回答部分
.faq-answer {
  // max-height: 0;
  // overflow: hidden;

  .faq-answer-inner {
    position: relative;
    display: flex;
    padding: 16px 40px 38px;

    &::before {
      content: "";
      display: block;
      height: 3px;
      position: absolute;
      top: 0px;
      right: 40px;
      left: 40px;
      background: #fff;
      border: 0 solid #fff;
    }
  }
}
/* ----------------------------------------------------------------
  footer
-----------------------------------------------------------------*/
.static-footer {
  height: 300px;

  .footer-contents {
    display: flex;
    justify-content: space-around;
    color: #fff;

    .footer-list {
      padding: 0;
    }

    a {
      color: inherit;
    }
  }
}
