/* ----------------------------------------------------------------
  共通
-----------------------------------------------------------------*/
// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// フォント色
.static-color {
  color: #fff;
}

ul {
  list-style: none;
}

// 全幅表示
@mixin colorWidth {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vh - 50%);
}

// flexの中央寄せ
@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// 要素の横並び
.flex-side {
  display: flex;
  flex-wrap: wrap;
}


#home-container {

  .contents {
    @include flexCentering();
    flex-direction: column;
    min-height: 100vh;
  }
}

// 各セクションタイトル
.util-title {
  font-size: 2rem;
  font-weight: bold;

  .util-title-inner {

    &::after {
      content: "";
      display: block;
      height: 10px;
      border-radius: 10px;
      margin: 5px auto 0;
      width: 50px;
      background: $static-color;
    }
  }
}

/* ----------------------------------------------------------------
  heading
-----------------------------------------------------------------*/
#heading {
  min-height: 100vh;

  .heading-inner {
    position: relative;

    .owner_icon {
      position: absolute;
      width: 250px;
      top: 0;
      right: 0;
    }
  }
}

/* ----------------------------------------------------------------
  about
-----------------------------------------------------------------*/
#about {

  .about-list {
    display: flex;
    justify-content: space-between;
  }
}

/* ----------------------------------------------------------------
  teachinglist
-----------------------------------------------------------------*/
#teachinglist {
  @include colorWidth();

  .teachinglist-list {
    @extend .flex-side;

    .teachinglist-item {
      width: 30%;
    }
  }
}

/* ----------------------------------------------------------------
  features
-----------------------------------------------------------------*/
.features-list {
  @extend .flex-side;

  .features-item {
    width: 30%;
  }
}


/* ----------------------------------------------------------------
services
-----------------------------------------------------------------*/
#services {
  @include colorWidth();

  .services-list {
    @extend .flex-side;

    .services-item {
      width: 50%;
    }
  }
}

/* ----------------------------------------------------------------
  developer
-----------------------------------------------------------------*/
#developer {
  @include colorWidth();

  .developer-list {
    @extend .flex-side;

    .developer-item {
      width: 50%;
    }
  }
}

/* ----------------------------------------------------------------
  administor
-----------------------------------------------------------------*/
#administor {
  min-height: 100vh;

  .administor-inner {
    position: relative;
    display: flex;
    justify-content: space-between;

    .administor-icon {
      position: absolute;
      width: 250px;
      top: 0;
      left: 0;
    }
  }
}

/* ----------------------------------------------------------------
  footer
-----------------------------------------------------------------*/
.static-footer {
  height: 300px;

  .footer-contents {
    display: flex;
    justify-content: space-around;
    color: #fff;

    .footer-list {
      padding: 0;
    }

    a {
      color: inherit;
    }
  }
}
