/* ----------------------------------------------------------------
  共通
-----------------------------------------------------------------*/
// カラー
$static-color: linear-gradient(to right, #0040ab, #1184cf, #0789d1);

// 背景色
.static-bg-color {
  background: $static-color;
}

// フォント色
.static-color {
  color: #fff;
}

// 全幅表示
@mixin colorWidth {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  padding: 0 calc(50vh - 50%);
}

// flexの中央寄せ
@mixin flexCentering($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// 要素の横並び
.flex-side {
  display: flex;
  flex-wrap: wrap;
}

#home-container {

  .contents {
    min-height: 100vh;
  }
}

/* ----------------------------------------------------------------
  heading
-----------------------------------------------------------------*/
.heading-inner {
  position: relative;

  .owner_icon {
    position: absolute;
    width: 250px;
    top: 0;
    right: 0;
  }
}

/* ----------------------------------------------------------------
  about
-----------------------------------------------------------------*/
#about {
  @include flexCentering();
  flex-direction: column;

  .about-list {
    display: flex;
    justify-content: space-between;
  }
}

/* ----------------------------------------------------------------
  teachinglist
-----------------------------------------------------------------*/
.teachinglist-list {
  @extend .flex-side;

  .teachinglist-item {
    width: 30%;
  }
}

/* ----------------------------------------------------------------
  features
-----------------------------------------------------------------*/
.features-list {
  @extend .flex-side;

  .features-item {
    width: 30%;
  }
}


/* ----------------------------------------------------------------
services
-----------------------------------------------------------------*/
.services-list {
  @extend .flex-side;

  .services-item {
    width: 50%;
  }
}

/* ----------------------------------------------------------------
  developer
-----------------------------------------------------------------*/
.developer-list {
  @extend .flex-side;

  .developer-item {
    width: 50%;
  }
}
