<section id="talk">
  <div class="container">
    <div class="rows">
      <div class="text-center">
        <% @modvieedittings.each do |modvieeditting| %>
          <div class="col-xs-12">
            <div class="movie-title">
              <%= modvieeditting.title %>
            </div>
            <div class="movie-contents">
              <%= modvieeditting.contents.html_safe %>
            </div>
          </div>
        <% end %>
        <div class="paginate-container">
          <%= paginate @modvieedittings %>
        </div>
      </div>
    </div>
  </div>
</section>
