<section id="contents">
  <%= params[:flash][:error] if params[:flash].present? %>
  <% @texts.each do |text| %>
    <h2>
      <%= link_to text.title, movie_path(text.id) %>
    </h2>
  <% end %>
</section>